@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family: var(--font-raleway);
  --color-brand-white: 'white';
  --color-brand-black: #171717;
  --color-brand-orange: #f25623;
  --color-brand-light-gray: #dedede;
  --color-brand-dark-gray: #4d4d4d;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--color-brand-dark-gray);
    font-family: var(--font-raleway);
    background-color: var(--color-brand-50);
  }

  [data-theme="dark"] body {
    background-color: var(--color-brand-900);
    color: var(--color-brand-50);
  }
}